* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navigation .logo a #logo {
    width: 200px;
    margin: 0 1rem;
}

.navigation ul li a {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #f0f0f0;
    font-size: .8rem;
}

.d-block {
    position: relative;
    top: 5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item {
    height: 600px;
    width: 100%;
}

.container-fluid {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background: url(/assets/images/grafite-arte-urbana-og.webp) no-repeat center center ;
    background-size: cover;
    color: #f0f0f0;
    position: relative;
    top: 5rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col-md-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center; 
    padding: 5px;
    /*Glass effect*/
    background: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.151);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.col-md-4 img {
    width: 80%;
    margin: 0 0;
    border-radius: 10px;
}

.col-md-4 h2 {
    color: #f0f0f0;
    margin-bottom: 20px;
}

.col-md-4 p {
    color: #f0f0f0;
    margin-bottom: 20px;
}

.texto{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000000;
    height: 100%;
}

.texto img {
    width: 600px;
    height: 600px;
}

.texto p {
    color: #f0f0f0;
    text-wrap: normal;
    margin: 0 2rem;
}

.footer {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
    bottom : 0;
}

.logo_copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo_copy a img{
    width: 200px;
    margin-top: 1rem;
}

.logo_copy a:hover {
    color: #ff0000;
    transition: 0.3s;
}
.logo_copy a:active {
    color: #00ff00;
    transition: 0.3s;
} 

.logo_copy p {
    color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.lista_alunos h3 {
    color: #f0f0f0;
}

.lista_alunos li, .lista_alunos2 li {
    list-style: none;
}

.lista_alunos a, .lista_alunos2 a {
    color: #f0f0f0;
    text-decoration: none;
}

.lista_alunos .lista_alunos2{
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    flex-direction: column;
    gap: 20px;
}

.lista_alunos2 h3{
    display: block;
    color: #000000;
}
/*end footer*/

/*media query*/

@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .container-fluid {
        flex-direction: column;
        padding: 20px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
    }

    .texto {
        flex-direction: column;
        align-items: center;
        padding: 20px 0 10px 10px;
    }

    .texto img {
        width: 98%;
        height: auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
    }

    .footer p {
        font-size: .8rem;
    }

    .lista_alunos, .lista_alunos2 {
        text-align: center;
    }
}